# Porta do Servidor Node
PORT=3333

# Configuração do PostgreSQL (Deve bater com o docker-compose)
DATABASE_URL="postgresql://docker:dockerpassword@localhost:5432/syngate_db?schema=public"

# Configuração do Redis
REDIS_URL="redis://localhost:6379"